@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  /* --black: #000;
  --white: #fff;
  --green1: #052D23;
  --green2: #1A3B25;
  --lime: #E6FF55;
  --wpGreen: #EAFBDF;
  --beige: #FAF5ED;
  --brown: #D7CDC3; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container{
  max-width: 1440px;
}